extends ../layout/base 
block content 
	section.content-header 
		h1 
			| Edit data
			small menu for editing customer data
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| Level 
			li.active Here 
	section.content
		.box
			.box-header.with-border
				h3.box-title
					| Siswa
				.box-tools.pull-right
					button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
						i.fa.fa-minus
					
			.box-body
				form(role='form',method='post' action='/customers/edit/#{(id==undefined) ? data.id : id}')
					.row
						
						.col-xs-6
							.box-body
								- if (messages.msg_error) 
									.alert.alert-danger.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Alert! 
										| !{messages.msg_error}
								- if (messages.msg_info) 
									.alert.alert-success.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Success! 
										| !{messages.msg_info}
								.form-group
									label
										| Nama
									input(type='text',value="#{data.nama}",name='nama',placeholder='masukan nama', autofocus).form-control
								.form-group
									label
										| Nis
									input(type='text',value="#{ (nis == undefined) ? data.nis : nis }",name='nis',placeholder='masukan nis').form-control
								.form-group
									label
										| Gender
									input(type='text',value="#{ (gender == undefined) ? data.gender : gender }",name='gender',placeholder='masukan gender').form-control
								.form-group
									label
										| Jurusan
									input(type='text',value="#{ (jurusan == undefined) ? data.jurusan : jurusan }",name='jurusan',placeholder='masukan jurusan').form-control
								.form-group
									label
										| Upload Foto
									input(type='file',value="#{ (foto == undefined) ? data.foto : foto }",name='foto',accept='image/*').form-control
							.box-footer
								input(type="hidden",name="_method", value="PUT")
								button(type='submit').btn.btn-primary
									i.fa.fa-pencil 
									|  Edit
								a(href='/customers').btn.btn-primary.pull-right
									| Back